<template>
	<div>
		<v-card>
			<v-card-title primary-title>
				Page Contents
			</v-card-title>
			<v-card-actions>
				{{ document }}
			</v-card-actions>
		</v-card>
	</div>
</template>
<script>
export default {
	props: ['document'],
};
</script>
