<template>
	<v-sheet>
		<v-subheader>
			<v-icon>mdi-alphabetical</v-icon>Editor
			<v-spacer></v-spacer>
			<v-btn color="success" @click="toggle = !toggle">Toggle</v-btn>
			<v-btn color="success" @click="read">Read</v-btn>
		</v-subheader>
		<editor :options="options" :initialValue="text" ref="editor"></editor>
		<viewer v-if="toggle" :initialValue="text"></viewer>
	</v-sheet>
</template>
<script>
export default {
	data() {
		return {
			options: {
				language: 'ko',
			},
			text: '# abcdefg',
			toggle: false,
		};
	},
	methods: {
		read() {
			this.text = this.$refs.editor.invoke('getMarkdown');
		},
	},
};
</script>
