<template>
	<div>
		<!-- <  -->
		<board-index
			v-if="collection === 'board' && document === 'list'"
		></board-index>
		<board-contents
			v-else-if="collection === 'board' && !action"
			:document="document"
		></board-contents>
		<board-form
			v-else-if="collection === 'board' && action === 'board-write'"
			:document="document"
			:action="action"
		></board-form>
		<board-article
			v-else-if="collection === 'board' && action === 'article-write'"
			:document="document"
			:action="action"
		></board-article>
		<page-index
			v-else-if="collection === 'page' && document === 'list'"
		></page-index>
		<page-contents
			v-else-if="collection === 'page'"
			:document="document"
		></page-contents>
		<error v-else></error>
	</div>
</template>
<script>
import BoardIndex from './board/index';
import BoardContents from './board/contents';
import BoardForm from './board/form';
import BoardArticle from './board/article/form';
import PageIndex from './page/index';
import PageContents from './page/contents';
import Error from './error';

export default {
	components: {
		BoardIndex,
		BoardContents,
		BoardForm,
		BoardArticle,
		PageIndex,
		PageContents,
		Error,
	},
	computed: {
		collection() {
			if (!this.$route.params.collection) {
				return 'board';
			} else {
				return this.$route.params.collection;
			}
		},
		document() {
			if (!this.$route.params.document) {
				return 'test';
			} else {
				return this.$route.params.document;
			}
		},
		action() {
			return this.$route.params.action;
		},
	},
};
</script>
