<template>
	<v-sheet class="px-4">
		<v-textarea v-model="text"></v-textarea>
		<v-btn @click="read">READ</v-btn>
		<v-btn @click="write">WRITE</v-btn>
	</v-sheet>
</template>
<script>
import axios from 'axios';
export default {
	data() {
		return {
			text: '',
			url: '',
		};
	},
	methods: {
		async write() {
			const sn = await this.$firebase
				.storage()
				.ref()
				.child('xxx.text')
				.putString('스토리지 데이터 불어오기 성공!!');
			const url = await sn.ref.getDownloadURL();
			this.url = url;
			console.log('url', this.url);
		},
		async read() {
			const r = await axios.get(this.url);
			console.log('r====', r);
			this.text = r.data;
		},
	},
};
</script>
