<template>
	<v-row>
		<v-col cols="8">
			<h6>
				Made with {{ footer }}. <v-spacer></v-spacer> Made by
				<a emailto="ux.pub2020@mail.com">uxPub</a>
			</h6>
		</v-col>
		<v-col cols="4" class="text-right">
			<h6>Last Updated Time: {{ dateUpdated }}</h6>
		</v-col>
	</v-row>
</template>
<script>
export default {
	name: 'SiteFooter',
	props: ['footer'],
	computed: {
		dateUpdated() {
			let nd = new Date();
			let m = nd.getMonth() + 1;
			let d = nd.getDate();
			let h = nd.getHours();
			let mm = nd.getMinutes();
			let res = m + '월' + d + '일' + h + '시' + mm + '분';
			return res;
		},
	},
};
</script>
