<template>
	<div>
		<v-list-item>
			<v-list-item-content>
				<v-list-item-title class="title">
					Vue Shoes
				</v-list-item-title>
				<v-list-item-subtitle
					>Firebase를 이용한 신발등록 앱</v-list-item-subtitle
				>
			</v-list-item-content>
		</v-list-item>

		<v-divider></v-divider>

		<v-list>
			<v-list-group
				v-for="(item, i) in items"
				:key="i"
				v-model="item.active"
				:prepend-icon="item.icon"
				no-action
			>
				<template v-slot:activator>
					<v-list-item>
						<v-list-item-content>
							<v-list-item-title
								class="d-flex align-center justify-space-between"
							>
								<span>
									<router-link :to="{ name: item.title }">
										{{ item.title }}
									</router-link>
								</span>
								<span class="d-flex align-center justify-space-between">
									<v-btn icon @click="moveItem(items, i, -1)" v-if="i > 0"
										><v-icon>mdi-chevron-double-up</v-icon></v-btn
									>
									<v-btn
										icon
										@click="moveItem(items, i, 1)"
										v-if="i < items.length - 1"
										><v-icon>mdi-chevron-double-down</v-icon></v-btn
									>
									<v-btn icon @click="removeItem(items, i)"
										><v-icon size="16">mdi-delete</v-icon></v-btn
									>
								</span>
							</v-list-item-title>
						</v-list-item-content>
						<v-list-item-action class="mx-0">
							<v-btn icon @click="openDialogItem(i)"
								><v-icon size="16">mdi-pen</v-icon></v-btn
							>
						</v-list-item-action>
					</v-list-item>
				</template>

				<v-list-item
					v-for="(subItem, j) in item.subItems"
					:key="j"
					:to="subItem.to"
				>
					<v-list-item-content>
						<v-list-item-title>
							<span @click="$emit('close')">{{ subItem.title }}</span>
							<span>
								<v-btn
									icon
									@click.prevent="moveItem(item.subItems, j, -1)"
									v-if="j > 0"
									><v-icon>mdi-chevron-double-up</v-icon></v-btn
								>
								<v-btn
									icon
									@click.prevent="moveItem(item.subItems, j, 1)"
									v-if="i < item.subItems.length - 1"
									><v-icon>mdi-chevron-double-down</v-icon></v-btn
								>
								<v-btn icon @click.prevent="removeItem(item.subItems, j)"
									><v-icon size="16">mdi-delete</v-icon></v-btn
								>
							</span>
						</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
				<v-list-item>
					<v-list-item-icon
						><v-icon size="16">mdi-plus</v-icon></v-list-item-icon
					>
					<v-list-item-title @click="openDialogSubItem(i)"
						>서브추가하기</v-list-item-title
					>
				</v-list-item>

				<template v-if="addSubItemTemp">
					<v-list-item>
						<v-list-item-title v-text="formSubItem.title"></v-list-item-title>
					</v-list-item>
					<v-list-item>
						<v-list-item-title v-text="formSubItem.to"></v-list-item-title>
					</v-list-item>
				</template>
			</v-list-group>

			<v-divider></v-divider>

			<v-list-item @click="openDialogItem(-1)">
				<v-list-item-icon><v-icon>mdi-plus</v-icon></v-list-item-icon>
				<v-list-item-content>
					<v-list-item-title>추가하기</v-list-item-title>
				</v-list-item-content>
			</v-list-item>
		</v-list>

		<v-dialog
			v-model="dialogItem"
			max-width="500px"
			transition="dialog-transition"
		>
			<v-card>
				<v-card-title primary-title>
					수정하기
					<v-spacer></v-spacer>
					<v-btn icon @click="saveItem"
						><v-icon>mdi-content-save</v-icon></v-btn
					>
				</v-card-title>
				<v-card-text>
					<v-text-field v-model="formItem.title" label="title"></v-text-field>
				</v-card-text>
				<v-card-text>
					<v-text-field v-model="formItem.to" label="route"></v-text-field>
				</v-card-text>
				<v-card-text>
					<v-text-field
						v-model="formItem.icon"
						label="icon"
						hint="mdi-xxx"
					></v-text-field>
				</v-card-text>
			</v-card>
		</v-dialog>

		<v-dialog
			v-model="dialogSubItem"
			max-width="500px"
			transition="dialog-transition"
		>
			<v-card>
				<v-card-title primary-title>
					추가하기
					<v-spacer></v-spacer>
					<v-btn icon @click="saveSubItem"
						><v-icon>mdi-content-save</v-icon></v-btn
					>
				</v-card-title>
				<v-card-text>
					<v-text-field
						v-model="formSubItem.title"
						label="title"
					></v-text-field>
					<v-text-field v-model="formSubItem.to" label="route"></v-text-field>
					<v-text-field v-model="formSubItem.icon" label="icon"></v-text-field>
				</v-card-text>
			</v-card>
		</v-dialog>
	</div>
</template>
<script>
import Vue from 'vue';
export default {
	name: 'SiteMenu',
	props: ['items'],
	data() {
		return {
			mouseOver: false,
			dialogItem: false,
			dialogSubItem: false,
			formItem: {
				title: '',
				to: '',
				icon: '',
			},
			formSubItem: {
				title: '',
				to: '',
				icon: '',
			},
			subItemCloset: {},
			itemIndx: -1,
			subItemIndx: -1,
			selectedItemIndex: -1,
			addSubItemTemp: false,
		};
	},
	methods: {
		openDialogItem(i) {
			this.selectedItemIndex = i;
			this.dialogItem = true;
			if (i < 0) {
				this.formItem.title = '';
			} else {
				this.formItem.title = this.items[i].title;
			}
		},
		saveItem() {
			if (this.selectedItemIndex < 0) {
				// eslint-disable-next-line vue/no-mutating-props
				this.items.push(this.formItem);
			} else {
				// eslint-disable-next-line vue/no-mutating-props
				this.items[this.selectedItemIndex] = this.formItem;
			}
			this.save();
		},
		async save() {
			try {
				await this.$firebase
					.database()
					.ref()
					.child('site')
					.update({
						menu: this.items,
					});
			} finally {
				this.dialogItem = false;
			}
		},
		openDialogSubItem(i) {
			this.dialogSubItem = true;
			this.itemIndx = i;
			let hasSub = this.items[this.itemIndx].hasOwnProperty('subItems');
			this.subItemIndx =
				hasSub === true ? this.items[this.itemIndx].subItems.length : -1;
		},
		saveSubItem() {
			const indx = this.itemIndx;
			const subIndx = this.subItemIndx;
			const obj = this.formSubItem;
			// const arrCloset = [{ title: 'ariari' }];

			if (subIndx == -1) {
				const arr = new Array(); // subItems 배열이 없으니까 만들어줌.
				arr.push(obj);
				// eslint-disable-next-line vue/no-mutating-props
				this.items[indx].subItems = arr;
			} else {
				// eslint-disable-next-line vue/no-mutating-props
				this.items[indx].subItems[subIndx] = obj;
			}
			// this.items[indx].subItems[subIndx].closet = arrCloset;
			this.saveSub();
		},
		async saveSub() {
			try {
				await this.$firebase
					.database()
					.ref()
					.child('site')
					.update({
						menu: this.items,
					});
			} finally {
				this.dialogSubItem = false;
			}
		},
		moveItem(items, i, arrow) {
			// let res = items.splice(i, 1)[0];
			// items.splice(i + arrow, 0, res);
			items.splice(i + arrow, 0, ...items.splice(i, 1));
			this.save();
		},
		removeItem(items, i) {
			items.splice(i, 1);
			this.save();
		},
	},
};
</script>
