<template>
	<v-progress-circular indeterminate v-if="loading"></v-progress-circular>
	<v-menu offset-y v-else-if="!$store.state.fireUser">
		<template offset-y v-slot:activator="{ on }">
			<v-btn icon v-on="on"><v-icon>mdi-account</v-icon></v-btn>
		</template>

		<v-card>
			<v-card-title>로그인</v-card-title>
			<v-divider></v-divider>
			<v-card-actions>
				<v-btn color="error" @click="signInWithGoogle"
					><v-icon left>mdi-google</v-icon>구글로그인</v-btn
				>
				<v-btn color="blue" dark @click="signInWithFacebook"
					><v-icon left>mdi-facebook</v-icon>페이스북 로그인</v-btn
				>
			</v-card-actions>
		</v-card>
	</v-menu>
	<v-menu offset-y v-else>
		<template offset-y v-slot:activator="{ on }">
			<v-btn icon v-on="on"
				><v-avatar size="32">
					<v-img :src="$store.state.fireUser.photoURL"></v-img> </v-avatar
			></v-btn>
		</template>

		<v-card>
			<v-card-title>정보</v-card-title>
			<v-divider></v-divider>
			<v-card-actions>
				<v-btn color="grey" dark @click="signOut"
					><v-icon left>mdi-logout</v-icon>로그아웃</v-btn
				>
			</v-card-actions>
		</v-card>
	</v-menu>
</template>
<script>
export default {
	data() {
		return {
			loading: false,
		};
	},
	methods: {
		async signInWithGoogle() {
			const provider = new this.$firebase.auth.GoogleAuthProvider();
			this.$firebase.auth().languageCode = 'ko';
			this.loading = true;
			try {
				const sn = await this.$firebase.auth().signInWithPopup(provider);
				console.log(sn.user);
				this.$store.commit('setFireUser', sn.user);
			} finally {
				this.loading = false;
			}
		},
		signOut() {
			this.$firebase.auth().signOut();
			console.log('로그아웃 되었습니다.');
		},
		signInWithFacebook() {},
	},
};
</script>
