<template>
	<v-toolbar-title>
		{{ title }}
		<v-btn icon @click="dialog = !dialog"><v-icon>mdi-pen</v-icon></v-btn>
		<v-dialog
			v-model="dialog"
			scrollable
			persistent
			:overlay="false"
			max-width="500px"
			transition="dialog-transition"
		>
			<v-card>
				<v-card-title primary-title>
					제목수정
				</v-card-title>
				<v-card-text>
					<v-text-field
						v-model="textEdited"
						label="제목수정"
						@keypress.enter="editText"
					></v-text-field>
					<v-col cols="12" class="text-right">
						<v-btn color="info" @click="editText"
							><v-icon>mdi-check</v-icon>저장</v-btn
						>
						<v-btn color="grey" dark class="ml-4" @click="dialog = false"
							><v-icon>mdi-close</v-icon>닫기</v-btn
						>
					</v-col>
				</v-card-text>
			</v-card>
		</v-dialog>
	</v-toolbar-title>
</template>
<script>
export default {
	name: 'SiteTitle',
	props: ['title'],
	data() {
		return {
			dialog: false,
			textEdited: '',
		};
	},
	methods: {
		async editText() {
			try {
				this.$firebase
					.database()
					.ref()
					.child('site')
					.update({
						title: this.textEdited,
					});
			} catch (e) {
				console.log('저장하는 과정에서 에러가 발생했습니다.', e.message);
			} finally {
				this.dialog = false;
			}
		},
	},
};
</script>
