<template>
	<v-app>
		<v-app-bar app color="blue" dark>
			<v-app-bar-nav-icon @click="drawer = !drawer" />
			<site-title :title="site.title"></site-title>
			{{ fireUser ? fireUser.displayName : '로그인 없음' }}
			<v-spacer></v-spacer>
			<site-sign></site-sign>
			<!-- <v-btn text @click="save">save</v-btn>
			<v-btn text @click="read">read</v-btn> -->
			<v-btn text to="/"><v-icon>mdi-home</v-icon></v-btn>
		</v-app-bar>

		<v-navigation-drawer app v-model="drawer" width="80%">
			<site-menu :items="site.menu" v-on:close="closeNav"></site-menu>
		</v-navigation-drawer>

		<v-main>
			<router-view />
		</v-main>
		<v-footer>
			<site-footer :footer="site.footer"></site-footer>
		</v-footer>
	</v-app>
</template>

<script>
import SiteTitle from '@/views/site/SiteTitle';
import SiteMenu from '@/views/site/SiteMenu';
import SiteFooter from '@/views/site/SiteFooter.vue';
import SiteSign from '@/views/site/SiteSign.vue';
import { mapState } from 'vuex';

export default {
	name: 'App',
	components: {
		SiteTitle,
		SiteMenu,
		SiteFooter,
		SiteSign,
	},
	data: () => ({
		drawer: false,
		site: {
			title: 'Vue Shoes',
			footer: 'Vue + Firebase',
			menu: [
				{
					icon: 'mdi-home',
					title: 'Home',
					active: true,
					to: '/',
					subItems: [
						{
							title: 'dashboard',
							to: '/',
						},
						{
							title: 'About',
							to: '/about',
						},
					],
				},
				// {
				// 	icon: 'mdi-cast-education',
				// 	title: 'Lectures',
				// 	active: false,
				// 	subItems: [
				// 		{
				// 			title: 'card',
				// 			to: '/lectures/card',
				// 		},
				// 		{
				// 			title: 'layout',
				// 			to: '/lectures/layout',
				// 		},
				// 		{
				// 			title: 'note',
				// 			to: '/lectures/note',
				// 		},
				// 	],
				// },
				{
					icon: 'mdi-rotate-orbit',
					title: 'About2',
					to: 'about2',
					active: false,
				},
			],
		},
	}),
	mounted() {
		this.subscribe();
	},
	methods: {
		subscribe() {
			this.$firebase
				.database()
				.ref()
				.child('site')
				.on(
					'value',
					sn => {
						const v = sn.val();
						if (!v) {
							this.$firebase
								.database()
								.ref()
								.child('site')
								.set(this.site);
						} else {
							this.site = v;
						}
					},
					e => {
						console.log(e.message);
					},
				);
		},
		save() {
			console.log('save');
			this.$firebase
				.database()
				.ref()
				.child('abcd')
				.set({
					title: 'abcd',
					text: 'tttt',
				});
		},
		read() {
			console.log('read');
			this.$firebase
				.database()
				.ref()
				.child('abcd')
				.on('value', sn => {
					console.log(sn.val());
				});
		},
		closeNav() {
			this.drawer = false;
		},
	},
	computed: {
		...mapState(['fireUser']),
	},
};
</script>
<style scoped>
@import '~@/scss/main.scss';
</style>
