
.v-main__wrap,
.board-title__bg {
	background: rgb(238, 174, 202);
	background: radial-gradient(
		circle,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
}
.v-data-table,
.transparent {
  background: transparent!important;
}

.comment {
	white-space: pre-wrap;
}